<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tda.asac.tda7_chat">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="IntensityReceiver">
            <intent-filter>
                <action android:name="ASAC.action.SC_RADIO_INTENSITY_CHANGED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="RxFileStatsReceiver">
            <intent-filter>
                <action android:name="ASAC.action.SC_RX_FILE_STATS_CHANGED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="TxFileStatsReceiver">
            <intent-filter>
                <action android:name="ASAC.action.SC_TX_FILE_STATS_CHANGED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
